<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="a.w.abb_mat">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_acc"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".activity.listegonflage.ListeGonflageActivity"></activity>
        <activity android:name=".activity.choixgonflage.ChoixGonflageActivity" />
        <activity android:name=".activity.gestionGonflage.GestionGonflageActivity" />
        <activity android:name=".activity.gonflagebloc.GonflageBlocActivity" />
        <activity android:name=".activity.gonfleur.GonfleurActivity" />
        <activity
            android:name=".activity.historiquesStabs.HistoriquesStabsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.choixhistorique.choixHistoriqueActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.historique.HistoriqueActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.gestionPression.GestionPressionActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.pressionbloc.PressionBlocActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.bloc.BlocActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.detendeur.DetendeurActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.membre.MembreActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.stab.StabActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.choixEmprunt.choixEmpruntActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.choix.choixActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.start.loginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.temporaire.modelActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.editor.EditorActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
    </application>

</manifest>